:root{
    --primary:#00B3B3; /*Verdigris*/
    --accent:#FF6F61; /*Coral*/
    --secondary-text:#90A4AE; /*Soft Gray*/
    --background:#121212; /*Very Dark Gray*/
    --typeface:#E0E0E0; /*Light Gray*/ 

    --radius: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
header{
    background-color: var(--primary);
    text-align: center;
}

#menu {
    font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--nav-color);
    position: absolute;
    top: .5rem;
    right: 1.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.navigation a{
    padding: 1rem 1rem;
    color: var(--typeface);
    font-size: larger;
    text-decoration: none;
    text-align: center;
    display: none;
}

.navigation a:hover{
    background-color: var(--accent);
    color: var(--background);
    text-decoration: underline;
    font-weight: 700;
    
}

.open a {
	display: block;
}

body {
    font-family: Roboto Mono, monospace;
    background-color: var(--background);
    color: var(--typeface);
    line-height: 1.6;
}

main {
    margin: auto;
    max-width: 800px;
}

h2 {
    margin: .5rem;
    color: var(--primary);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid  var(--accent);
    padding: 1rem;
    margin: 1rem;
}

.intro p{
    text-align: center;
}

.breif {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid  var(--accent);
    padding: 1rem;
    margin: 1rem;
}

.breif p{
    text-align: center;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid  var(--accent);
    padding: 1rem;
    margin: 1rem;
}

.location p{
    text-align: center;
}

.location iframe {
    padding: 1rem;
}

.certificates {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.certificates p{
    text-align: center;
    padding: 1rem;
}

.gallery {
    display: flex;
}

.gallery img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    align-self: center;
    padding: .25rem;
}

.gallery div{
    display: flex;
    flex-direction: column;
}

#contacttitle{
    text-align: center;
}

form {
    padding: 1rem;
}

.required {
    color: red !important;
}

.contactform {
    align-items: center;
}

.contactform label {
    display: block;
    padding-top: 1rem;
}

.contactform input[type="text"],
.contactform input[type="email"],
.contactform input[type="tel"]
 {
    display: block;
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    width: 100%;
    max-width: 400px;
}


#preferencelabel{
    padding-top: 1rem ;
}

.preference label{
    padding-top: 0% !important;
}

.contactform input[type="radio"] {
    margin: 6px;
}
 



.contactform textarea {
    display: block;
    padding: .5rem;
    width: 100%;
    border-radius: var(--radius);
    max-width: 400px;
}

.contactform input[type="submit"]{
    width: 96%;
    max-width: 400px;
    padding: .75rem;
    border-radius: var(--radius);
    margin: 2rem 0%;
    background-color: var(--accent);
    font-weight: 500;
    font-family: Roboto Mono, monospace;
}

.skills {
    margin: 0 1rem 0 3rem;
}

.skills strong{
    display: block;
    padding-top: 1rem;
}

.skills li::marker, .about li::marker{
    color: var(--accent); /* Change to your desired color */    
}

.skills ul {
    list-style: hangul
}

 .about {
    padding: 0 1.5rem;
}

#presentation {
    margin: 2rem 0;
    border-bottom: 1px solid var(--accent);
}

.about li {
    margin-left: 1.5rem;
    padding-top: 1rem;
}

.about h3 {
    padding-top: 1rem;
    border-bottom: 1px solid var(--accent);
}


footer{
    margin-top: 2rem;
    border-top: 1px solid var(--accent);
    text-align: center;
    padding: 10px;
    color: var(--primary);
}
