:root{
    --primary:#00B3B3; /*Verdigris*/
    --accent:#FF6F61; /*Coral*/
    --secondary-text:#90A4AE; /*Soft Gray*/
    --background:#121212; /*Very Dark Gray*/
    --typeface:#E0E0E0; /*Light Gray*/ 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
header{
    background-color: var(--primary);
    text-align: center;
}

#menu {
    font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--nav-color);
    position: absolute;
    top: .5rem;
    right: 1.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.navigation a{
    padding: 1rem 1rem;
    color: var(--typeface);
    font-size: larger;
    text-decoration: none;
    text-align: center;
    display: none;
}

.navigation a:hover{
    background-color: var(--accent);
    color: var(--background);
    text-decoration: underline;
    font-weight: 700;
    
}

.open a {
	display: block;
}

body {
    font-family: Roboto Mono, monospace;
    background-color: var(--background);
    color: var(--typeface);
    line-height: 1.6;
}

main {
    margin: auto;
    max-width: 800px;
}

h2 {
    margin: .5rem;
    color: var(--primary);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid  var(--accent);
    padding: 1rem;
    margin: 1rem;
}

.intro p{
    text-align: center;
}

.breif {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid  var(--accent);
    padding: 1rem;
    margin: 1rem;
}

.breif p{
    text-align: center;
}


.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid  var(--accent);
    padding: 1rem;
    margin: 1rem;
}

.location p{
    text-align: center;
}

.location iframe {
    padding: 1rem;
}

.certificates {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.certificates p{
    text-align: center;
}

.gallery {
    display: flex;
}

.gallery img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    align-self: center;
}

.gallery div{
    display: flex;
    flex-direction: column;
}






#domain {
    color: var(--secondary-text);
    text-decoration: underline;
    text-align: end;
}

a {
    color: var(--secondary-text);
}

div {
    margin:10px;
    padding: .5rem;

}
div p {
    margin-left:20px;
}

#highlights{
    border-bottom:1px solid var(--primary);
    
}

#accent-color:hover {
    background-color: var(--accent);
    color: var(--background);
    border-radius: 6px;
    padding: .5rem;

}

.circle {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-left: 0.5rem;
    vertical-align: middle;
}

#primary-color-span {
    background-color: var(--primary);
}


#accent-color-span {
    background-color: var(--accent);
}


#background-color-span{
    border: 1px solid var(--typeface);
    background-color: var(--background);
}


#typeface-color-span
 {
    background-color: var(--typeface);
}


#secondary-text-span {
    background-color: var(--secondary-text);
}

.circle:hover {
    width: 50px;
    height: 30px;
    border-radius: 30px;
    cursor: zoom-in;
    border: 2px solid var(--secondary-text);
}

#secondary-text {
    padding: .5rem;
    border: 1px solid var(--secondary-text);
    border-radius: 6px;
}

footer{
    margin-top: 2rem;
    border-top: 1px solid var(--accent);
    text-align: center;
    padding: 10px;
    color: var(--primary);
}
