:root{
    --nav-color: white;    
    --nav-hover-color: black;    

    --background-color: blueviolet;
    --form-background-color: blanchedalmond;    

    --radius: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Sans-serif;
}

header {
    background-color: var(--background-color);
    text-align: center;
    color: var(--nav-color);
    padding: 1rem;
}



form {
    background-color: var(--form-background-color) ;
    padding: 1rem;
}

.formreview label {
    display: block;
    padding-top: 1rem;
}

.formreview div {
    padding-top: 1rem;
}

.formreview input[type="text"],
.formreview input[type="date"],
.formreview select
 {
    background-color: aqua;
    display: block;
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    width: 100%;
    max-width: 400px;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
    padding-top: 0% !important;
}

.rating label{
    padding: 0%;
    display: flex;
    flex-direction: column;   
}

.formreview input[type="checkbox"] {
    margin-right: 6px;
    padding-top: 0% !important;
}

.formreview textarea {
    display: block;
    padding: .5rem;
    width: 100%;
    border-radius: var(--radius);
    max-width: 400px;
}

.formreview span {
    color: blue;
}

.formreview input[type="submit"]{
    width: 96%;
    max-width: 400px;
    padding: .75rem;
    border-radius: var(--radius);
    margin: 2rem 0%;

}

footer{
    text-align: center;
    background-color: var(--background-color);
    padding: 10px;
    color: var(--nav-color);
}


main {
    margin: 1rem auto;
    max-width: 800px;
}

section{
    padding: 2rem;
}
