* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Sans-serif;
}
header {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
}



main {
    margin: auto;
    max-width: 800px;
}

h2 {
    text-align: center;
}


img { width: 100%; height: auto; margin: .5rem;}


figcaption {
    text-align: center;
}

footer{
    text-align: center;
    background-color: blueviolet;
    padding: 10px;
    color: white;
}


#menu {
    font-size: 1.5rem;
	border: 0;
	background: none;
	color: #FFF;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.navigation a{
    padding: 1rem 1rem;
    color: white;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    display: none;
}

.navigation a:hover{
    background-color: blanchedalmond;
    color: black;
    text-decoration: underline;
    
}

.open a {
	display: block;
}

.album {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:1rem;
    place-items: center;
}
